/* body>div>span>h1 {
    color: red;
    border: 2px solid green;
} */
/* h1 {
    color: red;
    border: 2px solid green;
} */
/* * {
    color: red;
    border: 2px solid green;
} */
/* div h1 {
    color: red;
    border: 2px solid green;
} */