/* .main {
    width:  200px;
    height : 500px;
    background-color: red;
}

.top {
    width: 50%;
    height: 500px;
    min-width: 891px;
    max-width: 891px;
    background-color: rgb(0, 21, 255);
} */

/* p.one {
    overflow: hidden;
}

p.two {
    overflow: scroll;
    height: 100px;
    width: 50px;
    box-shadow: 20px 10px 50px blue;
    margin: 10px 20px;
} */

.one{
    /* width:20px ; */
    height: 100px;
    padding: 10px ;
    /* margin: 20px 0px 0px 0px; */
    background-color:yellow ;
}
.two{

    width:20px ;
    height: 100px;
    /* padding: 20px ; */
    background-color:rgb(255, 0, 13) ;
}